/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/rubik-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v20-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/rubik-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/rubik-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v30-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v30-latin_cyrillic-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin_cyrillic-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin_cyrillic-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin_cyrillic-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{
  box-sizing: border-box;
}
img{
  vertical-align: middle;
}
body{
  margin: 0px;
}
.container{
  width: 1260px;
  padding: 0px 30px;
  margin: 0px auto;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.header{
  background: #F6F6F9;
  margin-bottom: 20px;
  padding-top: 43px;
  padding-bottom: 23px;
}
.header-inner{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.logo{
  margin-left: -7px;
}
.currency-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.currency{
  margin: 0px 10px;
  color: #7A7A7A;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.icon{
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #285193;

}
.button-box{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.button-glass{
  background: #FFFFFF;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  padding: 8px;
}
.button-flag{
  padding: 10px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 0px;
  margin-left: 20px;
  cursor: pointer;
}
.flag{
  border-radius: 50%;
}
.button-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  padding: 10px 12px;
  text-decoration: none;
  margin-left: 23px;
}
.link-inner{
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-left: 7px;
}
.nav{
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  padding: 22px 0px;
  margin-bottom: 18px;
}
.nav-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.nav-link{
  text-decoration: none;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
}
.header-img{
  width: 1200px;
  height: 99px;
}




.hero-inner{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}
.hero-top{
  border-bottom: solid 3px #EBEBEB;
  padding-bottom: 20px;
}
.hero-title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0px;
  margin-bottom: 13px;
}
.hero-top-box{
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.hero-span{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
}
.top-list{
  width: 795px;
  margin-top: 20px;
}
.top-item{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0px;
  margin-bottom: 15px;
}
.item{
  font-weight: 700;
}
.blockquote{
  font-family: 'roboto';
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 0px;
  margin-bottom: 15px;
}
.top-link{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #28508E;
  margin-right: 10px;
}
.hero-boxs{
  width: 386px;
}
.hero-box{
  width: 385px;
  vertical-align: top;
  display: inline-block;
  background-color: #F6F6F9;
  border-radius: 5px;
  padding: 16px 20px 18px 20px;
  margin-bottom: 20px;
}
.hero-box-title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
  margin: 0px;
  margin-bottom: 6px;
}
.hero-box-describe{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  margin: 0px;
  margin-bottom: 11px;
}
.hero-box-item{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
  margin: 0px;
  margin-bottom: 14px;
}
.hero-box-line{
  display: inline-block;
  background: #E4E4E4;
  width: 346px;
  height: 4px;
  margin-bottom: 18px;
}
.nbi{
  margin-bottom: 0px;
}
.hero-bottom{
  margin-bottom: 35px;
}
.hero-bottom-title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0px;
  margin-bottom: 20px;
}
.box-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
  justify-content: space-between;
}
.box-inner{
  width: 386px;
  margin-bottom: 20px;
}
.box-item{
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  margin: 11px 0px;
}
.box-date{
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6B6D97;
  margin: 0px;
}
.hero-img{
  width: 386px;
  height: 190px;
}


.footer{
  background-color: #295093;
  padding: 20px 0px;
}
.footer-top{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: #133C82 solid 3px;
}
.footer-logo{
  margin-right: auto;
}
.footer-top-describe{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0px;
  margin-right: 17px;
}
.telegram-link{
  width: 135px;
  background-color: #FFFFFF;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #295093;
  padding: 9px 3px 9px 9px
}
.link-span{
  margin-left: 3px;
}
.footer-bottom{
  display: flex;
  padding-top: 20px;
}
.footer-desc{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0px;
}
.text-box{
  width: 365px;
}
.top{
  margin-bottom: 15px;
}
.footer-list{
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-left: 115px;
}
.footer-item{
  margin-bottom: 10px;
}
.footer-link{
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}